html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #3c2a21;
  box-shadow: none;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background-color: #3c2a21;
  border-radius: 50vw;
}

::-webkit-scrollbar-thumb {
  background-color: #1a120b;
  margin: 10px;
  border-radius: 50vw;
  border: 0.15em solid #3c2a21;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d5cea3;
}
