html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #3c2a21;
  box-shadow: none;
  height: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  border-radius: 50vw;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e5cb;
  margin: 10px;
  border-radius: 50vw;
  border: 0.15em solid #1a120b;
}
